In [1]:
import pandas as pd

In [3]:
cctv_seoul = pd.read_csv("./data/01. Seoul_CCTV.csv", encoding="utf-8")
cctv_seoul.tail(3)

    기관명    소계  2013년도 이전  2014년  2015년  2016년
22  종로구  1619        464    314    211    630
23   중구  1023        413    190     72    348
24  중랑구   916        509    121    177    109

In [5]:
list(cctv_seoul.columns)

['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년']

In [7]:
cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"}, inplace=True)
cctv_seoul.tail(3)

     구별    소계  2013년도 이전  2014년  2015년  2016년
22  종로구  1619        464    314    211    630
23   중구  1023        413    190     72    348
24  중랑구   916        509    121    177    109

In [11]:
pop_seoul = pd.read_excel("./data/01. Seoul_Population.xls", header=2, usecols="B, D, G, J, N")
pop_seoul.head(5)

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10124579  9857426  267153   1365126
1  종로구    164257   154770    9487     26182
2   중구    134593   125709    8884     21384
3  용산구    244444   229161   15283     36882
4  성동구    312711   304808    7903     41273

In [13]:
pop_seoul.rename(
    columns={
        pop_seoul.columns[0] : "구별",
        pop_seoul.columns[1] : "인구수",
        pop_seoul.columns[2] : "한국인",
        pop_seoul.columns[3] : "외국인",
        pop_seoul.columns[4] : "고령자"
    },
    inplace=True
)
pop_seoul.head(5)

    구별       인구수      한국인     외국인      고령자
0   합계  10124579  9857426  267153  1365126
1  종로구    164257   154770    9487    26182
2   중구    134593   125709    8884    21384
3  용산구    244444   229161   15283    36882
4  성동구    312711   304808    7903    41273