# 03-01. 기초 수학

## 1. 최대공약수

- 공약수 
    - 두 개 이상의 수에서 공통된 약수를 공약수라고 한다.
    - 12의 약수 : 1,2,3,4,6,12
    - 20의 약수 : 1,2,4,5,10,12
    - 12와 20의 공약수 : 1,2,4
    - 12와 20의 최대공약수 : 4
- 최대공약수 
    - 공약수 중에 가장 큰 수를 최대 공약수라고 한다.
- 소인수분해를 이용한 최대공약수, 공약수 구하기
    - 12의 소인수분해 : 2^2 * 3
    - 20의 소인수분해 : 2^2 * 5
    - 공통인 소인수의 거듭제곱에서 지수(밑)가 작은 수를 모두 곱한다.
    - 12와 20의 최대 공약수는 4, 공약수는 1,2,4

In [1]:
# 두 개의 수를 입력하면 공약수와 최대공약수를 출력하는 코드 작성
# 단, num1 < num2 이다.
num1 = int(input("1보다 큰 정수 입력 : "))
num2 = int(input("1보다 큰 정수 입력 : "))
max_num = 0

for i in range(1, num1 + 1):
    if num1 % i == 0 and num2 % i == 0:
        print("{}과 {}의 공약수 : {}".format(num1, num2, i))
        max_num = i
        
print("{}과 {}의 최대공약수는 {} 입니다.".format(num1, num2, max_num))

1보다 큰 정수 입력 : 12
1보다 큰 정수 입력 : 36
12과 36의 공약수 : 1
12과 36의 공약수 : 2
12과 36의 공약수 : 3
12과 36의 공약수 : 4
12과 36의 공약수 : 6
12과 36의 공약수 : 12
12과 36의 최대공약수는 12 입니다.

In [3]:
# 세 개의 수를 입력하면 공약수와 최대 공약수를 출력하는 코드를 작성하자.
# 단, num1 < num2, num3
num1 = int(input("1보다 큰 정수 입력 : "))
num2 = int(input("1보다 큰 정수 입력 : "))
num3 = int(input("1보다 큰 정수 입력 : "))
max_num = 0

for i in range(1, num1 + 1):
    if (num1 % i == 0) and (num2 % i == 0) and (num3 % i == 0):
        print("{}, {}, {}의 공약수 : {}".format(num1, num2, num3, i))
        max_num = i

print("{}, {}, {}의 최대공약수 : {}".format(num1, num2, num3, max_num))

1보다 큰 정수 입력 : 12
1보다 큰 정수 입력 : 54
1보다 큰 정수 입력 : 72
12, 54, 72의 공약수 : 1
12, 54, 72의 공약수 : 2
12, 54, 72의 공약수 : 3
12, 54, 72의 공약수 : 6
12, 54, 72의 최대공약수 : 6

### 유클리드 호제법으로 최대공약수 구하기
- x, y의 최대공약수 y, r(x%y)의 최대공약수와 같다

In [10]:
num1 = int(input("1보다 큰 정수 :"))
num2 = int(input("1보다 큰 정수 :"))

temp1 = num1
temp2 = num2

while temp2 > 0:
    temp = temp2
    temp2 = temp1 % temp2
    temp1 = temp
print("최대공약수 :", temp1)

for i in range(1, temp1 + 1):
    if temp % i ==0:
        print(i)

1보다 큰 정수 :12
1보다 큰 정수 :36
최대공약수 : 12
1
2
3
4
6
12

# 2. 최소공배수

- 공배수 : 두 개 이상의 수에서 공통된 배수를 공배수라고 한다.
- 최소공배수 : 두 개 이상의 수에서 공통된 배수중 가장 작은 수
    - 공통인 소인수의 거듭제곱에서 지수가 크고 공통아닌 수를 모두 곱한다.
    - 4의 소인수분해 : 2^2
    - 12의 소인수분해 : 2^2*3
    - 4와 12의 최소공배수 : 2^2*3

In [19]:
# 두 개의 수를 입력하면 최소공배수를 출력하는 코드
# 단, num1 < num2

num1 = int(input("1보다 큰 정수 : "))
num2 = int(input("1보다 큰 정수 : "))
max_num = 0

for i in range(1, num1):
    if (num1 % i == 0) and (num2 % i == 0):
        print("{}과 {}의 공약수 : {}".format(num1, num2, i))
        max_num = i
        
        

# 두 개의 수에서 최대공약수를 구한 후 입력한 숫자들의 곱에서 최대공약수를 나눈 몫을 구하면 그게 최소공배수이다.
print("최대공약수 : {}".format(max_num))
print("최대공약수 : {}".format(num1 * num2 // max_num))

1보다 큰 정수 : 12
1보다 큰 정수 : 32
12과 32의 공약수 : 1
12과 32의 공약수 : 2
12과 32의 공약수 : 4
최대공약수 : 4
최대공약수 : 96

In [27]:
# 세 개의 수를 입력하여 최소공배수 구하기
# 단, 입력된 세 개의 수 중에서 num1이 가장 작다
num1 = int(input("1보다 큰 정수 :"))
num2 = int(input("1보다 큰 정수 :"))
num3 = int(input("1보다 큰 정수 :"))
max_num = 0

for i in range(1, num1+1):
    if (num1 % i == 0) and (num2 % i == 0):
#         print("{}, {}의 공약수 : {}".format(num1, num2, i))
        max_num = i
print("{}, {}의 최대공약수 : {}".format(num1, num2, max_num))
min_num = (num1 * num2) // max_num
print("{}, {}의 최소공배수 : {}".format(num1, num2, min_num))

max_num2 = 0
for i in range(1, min_num + 1):
    if (min_num % i == 0) and num3 % i == 0:
        max_num2 = i
        
print("{}, {}, {}의 최대공약수 : {}".format(num1, num2, num3, max_num2))
min_num2 = (min_num * num3)//max_num2
print("{}, {}, {}의 최소공배수 : {}".format(num1, num2, num3, min_num2))

1보다 큰 정수 :6
1보다 큰 정수 :12
1보다 큰 정수 :18
6, 12의 최대공약수 : 6
6, 12의 최소공배수 : 12
6, 12, 18의 최대공약수 : 6
6, 12, 18의 최소공배수 : 36

In [32]:
# 섬마을에 과일, 생선, 야채를 판매하는 배가 다음 주기로 입항한다고 할 때, 모든 배가 입항하는 날짜를 계산해 보자.
# 과일 선박 : 3일 주기
# 생선 선박 : 4일 주기
# 야채 선박 : 5일 주기

ship_1 = 3 ; ship_2 = 4 ; ship_3 = 5 ;
max_day = 0

for i in range(1, ship_1+1):
    if (ship_1 % i == 0) and (ship_2 % i == 0):
        max_day = i 

min_day = (ship_1 * ship_2) // max_day
print("{}, {}의 최대공약수 : {}".format(ship_1, ship_2, max_day))
print("{}, {}의 최소공배수 : {}".format(ship_1, ship_2, min_day))

max_day_2 = 0 
for i in range(1, min_day + 1):
    if (min_day % i == 0) and (ship_3 % i == 0):
        max_day_2 = i 

min_day_2 = (min_day * ship_3) // max_day_2
print("{}, {}, {}의 최대공약수 : {}".format(ship_1, ship_2, ship_3, max_day_2))
print("{}, {}, {}의 최소공배수 : {}".format(ship_1, ship_2, ship_3, min_day_2))

3, 4의 최대공약수 : 1
3, 4의 최소공배수 : 12
3, 4, 5의 최대공약수 : 1
3, 4, 5의 최소공배수 : 60

---

# 3. 진법

### 진법이란?
- 진법이란 , 특정 숫자 몇 개를 사용하여 수를 표시하는 방법이다
- 2진수(BIN), 8진수(OCT), 10진수(DEC), 16진수(HEX)

#### 10진수 -> 2진수, 8진수, 16진수 변환하기
- binary(2) : bin(), 0b
- octal(8) : oct(), 0o
- Hexadecimal(16) : hex(), 0x

In [37]:
num_dec = 30

print("10진수 : {}".format(num_dec))
print("2진수 : {}".format(bin(num_dec)))
print("8진수 : {}".format(oct(num_dec)))
print("16진수 : {}".format(hex(num_dec)))

10진수 : 30
2진수 : 0b11110
8진수 : 0o36
16진수 : 0x1e

In [38]:
num_dec = 30

print("10진수 타입 : {}".format(type(num_dec)))
print("2진수 타입 : {}".format(type(bin(num_dec))))
print("8진수 타입 : {}".format(type(oct(num_dec))))
print("16진수 타입 : {}".format(type(hex(num_dec))))

10진수 타입 : <class 'int'>
2진수 타입 : <class 'str'>
8진수 타입 : <class 'str'>
16진수 타입 : <class 'str'>

In [39]:
num_dec = 30

print("10진수 : {}".format(num_dec))
print("2진수 : {}".format(format(num_dec, '#b')))
print("8진수 : {}".format(format(num_dec, '#o')))
print("16진수 : {}".format(format(num_dec, '#x')))

10진수 : 30
2진수 : 0b11110
8진수 : 0o36
16진수 : 0x1e

In [45]:
num_dec = 30

print("10진수 : {}".format(num_dec))
print("2진수 : {}".format(format(num_dec, 'b')))
print("8진수 : {}".format(format(num_dec, 'o')))
print("16진수 : {}".format(format(num_dec, 'x')))

10진수 : 30
2진수 : 11110
8진수 : 36
16진수 : 1e

In [46]:
num_dec = 30

print("{0:#b}, {0:#o}, {0:#x}".format(num_dec))

0b11110, 0o36, 0x1e

#### X진수를 10진수로 변환

In [50]:
# 2진수를 10진수로 변환
print(int('0b11110', 2))
# 8진수를 10진수로 변환
print(int('0o36', 8))
# 16진수를 10진수로 변환
print(int('0x1e', 16))
# 10진수를 10진수로 변환
print(int('30', 10))

30
30
30
30

In [53]:
hex(0b11110)

'0x1e'

In [55]:
oct(0o36)

'0o36'

In [57]:
hex(0o36)

'0x1e'

---

# 4. 수열

### 4-1 등차수열

#### 수열이란?
- 규칙성을 가지고 나열되어 있는 수들

#### 등차수열
- 연속된 두 항의 차이가 일정한 수열
- $ex)   a_n = 2_n + 1 : 3, 5, 7, 9, 11, 13 ...  x $

#### ❗수열의 합
- $ S_n = a_1 + a_2 + a_3 + ... $ 
- $ a_n = S_n - S_(n-1)$ 
- $ a_1 = S_1 $
- $ S_n = n(a_1 + a_n)/2$

#### ❗등차 수열과 일반항
- 등차 수열 규칙성을 이용해서 일반항을 구할 수 있다.
- 일반항 : $ a_n = a_1 + (n-1) * d$
    - $ d는 공차 $

#### ❗등차 중항
- 연속된 세 항에서 가운데 항
    - 5, 9, 13, 17, 21, 25, 29, 33, 37 중
    - 17, 21, 25 의 등차 중항은 21이다.
    - 13, 17, 21, 25, 29의 등차 중항은 21이다.
    - 17 + 25 = 42
    - 42 / 2 = 21

#### 등차 수열의 합
- 규칙성을 이용해서 모든 항들의 총합을 구할 수 있다.

#### 등차수열(파이썬)

In [72]:
a1 = int(input("a1 입력 :"))
d = int(input("공차 d 입력 :"))
n = int(input("n 입력 :"))

start_idx = 1
values = 0

while start_idx <= n:
    
    if start_idx == 1:
        values = a1
        print("a{}의 값 : {}".format(start_idx, values))
        start_idx += 1
        continue
        
    values += d
    print("a{}의 값 : {}".format(start_idx, values))
    start_idx += 1

a1 입력 :3
공차 d 입력 :4
n 입력 :5
a1의 값 : 3
a2의 값 : 7
a3의 값 : 11
a4의 값 : 15
a5의 값 : 19

In [78]:
# 등차 수열의 일반항 공식 : an = a1 + (n-1) * d
for i in range(1, n+1):
    an = a1 + (i-1) * d
    print(an)

3
7
11
15
19

In [87]:
# 등차 수열의 합 Sn = n(A1 + An) / 2
A1 = 5
n = 7
d = 4

Sn = []
for i in range(1, n+1):
    An = A1 + (i-1) * d
    print("{} 번째 항 : {}".format(i, An))
    Sn.append(An)
    
print(Sn)
print("{} 번째 항까지의 합 : {}".format(n, sum(Sn)))
# Sn = n * (A1 + An) / 2
# An, Sn

1 번째 항 : 5
2 번째 항 : 9
3 번째 항 : 13
4 번째 항 : 17
5 번째 항 : 21
6 번째 항 : 25
7 번째 항 : 29
[5, 9, 13, 17, 21, 25, 29]
7 번째 항까지의 합 : 119

### 4-2 등비수열
- 등비수열 
    - 연속된 두 항의 비가 일정한 수열
- ❗등비수열의 일반항
    - $ a_n = a_1 * r^(n-1) $
    - a_n = a_1 * r^(n-1)
    
- ❗등비중항
    - 연속된 세 항에서 가운데 항
    - 2, 6,18, 54, 162, 486, 1458에서
    - 18, 54, 162 의 등비 중항은 54이다.
    - $ 54^2와 18 * 162의 값은 같다. $
    
- ❗등비 수열의 합
    - $ Sn = a_1 * (1-(r^n)) / (1-r) $
    - r : 공비
    - n : 항의 수

In [90]:
# 등비 수열의 일반항 확인하기
data = [2,4,8,16, 32, 64]
A1 = data[0]
r = 2
n = 3
An = A1 * r**(n-1)
An

8

In [94]:
# 등비 수열의 합 확인하기!
data = [2,4,8,16, 32, 64]
A1 = data[0]
r = 2
n = len(data)
An = int( A1 * (1-r**n) / (1 - r) )
An

126

In [95]:
sum(data)

126

In [96]:
# 다음 수열을 보고 n번째 항의 값을 출력하는 프로그램을 만들어보자
# An = {2,4,8,16,32,64,128...}

a1 = int(input("첫 번째 항 a1의 값 :"))
r = int(input("공비 r의 값 :"))
n = int(input("항 n의 값 :"))

for i in range(1, n+1):
    An = a1 * ( r**(i-1) )
    print("{} 번째 항의 값 : {}".format(i, An))

첫 번째 항 a1의 값 :2
공비 r의 값 :2
항 n의 값 :10
1 번째 항의 값 : 2
2 번째 항의 값 : 4
3 번째 항의 값 : 8
4 번째 항의 값 : 16
5 번째 항의 값 : 32
6 번째 항의 값 : 64
7 번째 항의 값 : 128
8 번째 항의 값 : 256
9 번째 항의 값 : 512
10 번째 항의 값 : 1024

In [100]:
# 다음 수열을 보고 n번째 항까지의 합을 출력하는 프로그램을 작성해보자

a1 = int(input("첫 번째 항 a1의 값 :"))
r = int(input("공비 r의 값 :"))
n = int(input("항 n의 값 :"))

for i in range(1, n + 1):
    An = int( a1 * (1-r**i) / (1 - r) )
    print("{} 행 까지의 합 : {}".format(i, An))

첫 번째 항 a1의 값 :5
공비 r의 값 :7
항 n의 값 :8
1 행 까지의 합 : 5
2 행 까지의 합 : 40
3 행 까지의 합 : 285
4 행 까지의 합 : 2000
5 행 까지의 합 : 14005
6 행 까지의 합 : 98040
7 행 까지의 합 : 686285
8 행 까지의 합 : 4804000

### 5. 시그마 $ (\sum) $란?
- $ \sum $란, 수열의 합을 나타내는 기호
- $ 등차 수열의 일반항 : a_n = a_1 + (n-1) * d$
- $ 등차 수열의 합 : S_n = n(a_1 + a_n)/2$
- $ 등비 수열의 일반항 : a_n = a_1 * r^{n-1} $
- $ 등비 수열의 합 : Sn = a_1 * (1-(r^n)) / (1-r) $

### 6. 계차 수열
- 어떤 수열의 인접하는 두항의 차로 이루어진 또 다른 수열
    - $ a_n $ 수열 : {3, 7, 13, 21, 31, 43, 57}
    - $ a_n $의 계차 수열 $ b_n $ : {4, 6, 8, 10, 12, 14} // (첫 번째 항이 4이고, 등차가 2인 수열)
    - $ 등차 수열의 일반항 : a_n = a_1 + (n-1) * d$
    - $ 등차 수열의 합 : S_n = n(a_1 + a_n)/2$
    - $ \sum_{k=1}^{n-1} b_k = a_n - a_1 $
        - $ a_n = n^2 + n + 1 $

In [105]:
# 위 예제의 a_n의 n번쨰 항을 출력하는 프로그램

n = 6
a1 = 3
for i in range(1, n+1):
    print("{}번 항의 값 : {}".format(i, i**2 + i + 1))

1번 항의 값 : 3
2번 항의 값 : 7
3번 항의 값 : 13
4번 항의 값 : 21
5번 항의 값 : 31
6번 항의 값 : 43

### 7. 피보나치 수열
- $ a_n = a_{(n-2)} + a_{(n-1)} $

In [115]:
def fib(n):
    _curr, _next = 0, 1
    for _ in range(n):
        _curr, _next = _next, _curr + _next
    return _curr

n = int(input(" 1 이상의 정수 n 입력 : "))
n_list = []
for i in range(1, n+1):
    data = fib(i)
    n_list.append(data)
    print("{} 번째 항의 값 : {}".format(i, data), "\t | {} 번째 항까지의 합 : {}".format(i, sum(n_list)))

 1 이상의 정수 n 입력 : 10
1 번째 항의 값 : 1 	 | 1 번째 항까지의 합 : 1
2 번째 항의 값 : 1 	 | 2 번째 항까지의 합 : 2
3 번째 항의 값 : 2 	 | 3 번째 항까지의 합 : 4
4 번째 항의 값 : 3 	 | 4 번째 항까지의 합 : 7
5 번째 항의 값 : 5 	 | 5 번째 항까지의 합 : 12
6 번째 항의 값 : 8 	 | 6 번째 항까지의 합 : 20
7 번째 항의 값 : 13 	 | 7 번째 항까지의 합 : 33
8 번째 항의 값 : 21 	 | 8 번째 항까지의 합 : 54
9 번째 항의 값 : 34 	 | 9 번째 항까지의 합 : 88
10 번째 항의 값 : 55 	 | 10 번째 항까지의 합 : 143

### 8. 팩토리얼(!)
- 1부터 양의 정수 n까지의 정수를 모두 곱한 것
- 0! -> 1 = 1
- 1! -> 1 = 1
- 2! -> 2 * 1 = 2
- 3! -> 3 * 2 * 1 = 6
- 4! -> 4 * 3 * 2 * 1 = 24

In [119]:
# 반복문을 이용하여 팩토리얼 구하기
n = 4
result = 1
for i in range(1, n + 1):
    result *= i
print("{}팩토리얼 : {}".format(n, result))

4팩토리얼 : 24

In [118]:
# 재귀함수를 이용하는 경우
def factorial_func(n):
    if n == 1 :
        return 1
    return n * factorial_func(n - 1)

factorial_func(2)

2

In [121]:
# 파이썬 내장함수로 팩토리얼 사용하기
import math

math.factorial(4)

24

### 9. 군수열
- 여러 개의 항을 묶었을 때 규칙성을 가지는 수열

In [125]:
inputN = int(input("n항 입력 : "))

flag = True
n = 1 ; nCnt = 1 ; searchN = 0

while flag:
    for i in range(1, n+1):
        if i == n:
            print("{}".format(i), end="")
        else:
            print("{},".format(i), end="")
            
        nCnt += 1
        if (nCnt > inputN):
            searchN = i
            flag = False
            break
            
    print()
    n += 1
print("{}항 : {}".format(inputN, searchN))

n항 입력 : 16
1
1,2
1,2,3
1,2,3,4
1,2,3,4,5
1,
16항 : 1

### 10. 순열
- n개에서 r개를 택하여 나열하는 경우의 수
- $ nP_r = n * (n-1) * (n-2) * ... * (n-r+1)$

In [127]:
n = 10
r = 3

result = 1
for i in range(n, n-r, -1):
    print("n : {}".format(i))
    result *= i
print(result)

n : 10
n : 9
n : 8
720

In [129]:
from itertools import permutations

test = []
for i in permutations([1,2,3,4], 2):
    print(i, end=" ")
    test.append(i)
    
print(len(test))

(1, 2) (1, 3) (1, 4) (2, 1) (2, 3) (2, 4) (3, 1) (3, 2) (3, 4) (4, 1) (4, 2) (4, 3) 12

#### 10-1 원순열
- 시작과 끝의 구분이 없는 순열
- $ (n-1)! $

In [131]:
# 4명의 친구가 원탁 테이블에 앉을 수 있는 경우의 수
n = 4
result = 1
for i in range(1, n):
    result *= i
    
print(result)

6

In [2]:
# 4명의 친구가 원탁 테이블에 앉을 수 있는 경우의 수
n = 4
result = 1
for i in range(n-1, 1, -1):
    result *= i
    
print(result)

6

In [3]:
print("군수열 다시 복습하고 조합 강의 듣기")

군수열 다시 복습하고 조합 강의 듣기

### 11. 확률
- 모든 사건에서 특정 사건이 일어날 수 있는 수

#### 동전 예제
- 모든 사건(표본 사건) : 앞, 뒤 -> 2가지 경우
- 특정 사건(사건) : 앞(1가지의 경우), 뒤(1가지의 경우)
- 확률 : 앞 -> 1/2, 뒤 -> 1/2

#### 확률과 조합
- 조합을 이용해서 확률 구하기
    - 박스에서 "꽝"이 적힌 종이 4장, "선물"이 적힌 종이가 3장 있다.
    - 3장을 뽑을 경우 다음 경우의 수를 구해보자
    - 꽝,꽝,꽝,꽝,선물,선물,선물
        - 전체 확률 : 7C3(7 콤비네이션 3) : 35
        - 꽝 : 0, 선물 : 3 -> (1)/35
        - 꽝 : 1, 선물 : 2 -> 4C1 x 3C2 / 35
        - 꽝 : 2, 선물 : 1 -> 4C2 x 3C1 / 35
        - 꽝 : 3, 선물 : 0 -> 4C3 / 35

- 박스에 "꽝"이 적힌 종이가 4장 있고, "선물"이 적힌 종이가 3장이 있을 때, 파이썬을 이용해서 "꽝" 2장과 "선물" 1장을 뽑는 확률(%)를 출력하자
    - 전체 사건 : 7C3 = 35
    - 꽝 2, 선물 1 -> 4C2 x 3C1 / 35

In [8]:
num_n = 7
num_r = 3

In [9]:
res_P = 1
res_R = 1
res_C = 1

In [10]:
for n in range(num_n, num_n - num_r, -1):
    res_P *= n
print("res_P :", res_P)

res_P : 210

In [11]:
for n in range(num_r, 0, -1):
    res_R *= n
print("res_R :", res_R)

res_R : 6

In [12]:
res_C = int(res_P/res_R)
print("res_C :", res_C)

res_C : 35

In [13]:
def pro_func(num_n, num_r):
    res_P = 1
    res_R = 1
    res_C = 1

    for n in range(num_n, num_n - num_r, -1):
        res_P *= n
    print("res_P :", res_P)

    for n in range(num_r, 0, -1):
        res_R *= n
    print("res_R :", res_R)

    res_C = int(res_P/res_R)
    print("res_C :", res_C)
    return res_C

In [22]:
sample = pro_func(7, 3)
sample

res_P : 210
res_R : 6
res_C : 35

35

In [23]:
event1 = pro_func(4,2)
event1

res_P : 12
res_R : 2
res_C : 6

6

In [24]:
event2 = pro_func(3,1)
event2

res_P : 3
res_R : 1
res_C : 3

3

In [26]:
probability = round(event1 * event2 / sample * 100, 2)
print(probability)

51.43