In [4]:
import pandas as pd
import numpy as np

data = [{"key":1, "key1":2}]
df = pd.DataFrame(data)
df

   key  key1
0    1     2

In [6]:
df["종합"] = np.mean(df, axis=1)

In [7]:
df

   key  key1   종합
0    1     2  1.5

In [14]:
pd.date_range("2013-01-01", periods=6, freq="D"),

data = {"A" : ["a1", "a2","a3", "a4", "a5", "a6"],
"B" : ["b1", "b2","b3", "b4", "b5", "b6"],
"C" : ["a1", "a2","a3", "a4", "a5", "a6"],
"D" : ["a1", "a2","a3", "a4", "a5", "a6"]}

In [15]:
df = pd.DataFrame(data)
df.index = pd.date_range("2013-01-01", periods=6, freq="D")

In [19]:
df

             A   B   C   D
2013-01-01  a1  b1  a1  a1
2013-01-02  a2  b2  a2  a2
2013-01-03  a3  b3  a3  a3
2013-01-04  a4  b4  a4  a4
2013-01-05  a5  b5  a5  a5
2013-01-06  a6  b6  a6  a6

In [20]:
df.iloc[0:4, 1:3]

             B   C
2013-01-01  b1  a1
2013-01-02  b2  a2
2013-01-03  b3  a3
2013-01-04  b4  a4

In [17]:
df.loc["2013-01-02":"2013-01-03"]

             A   B   C   D
2013-01-02  a2  b2  a2  a2
2013-01-03  a3  b3  a3  a3

In [22]:
def test(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
test(key = "key")

{'key': 'key'}
<class 'dict'>