## 1. 리스트
- 배열과 같이 여러 개의 데이터를 나열한 자료구조.
- "[ ]"또는 list() 를 이용해서 선언하고 데이터 구분은 ","를 이용한다.
- 리스트 내부에는 숫자형, 문자열, 리스트형, 딕셔너리형 등의 데이터가 요소로 들어갈 수 있다.
    - 리스트 내부에 또다른 컨테이너 자료형을 요소로 넣을 수 있다.
- 리스트 자료형에 index 호출할 경우 존재하지 않는 index를 호출할 때 index error가 발생한다.

In [2]:
# 리스트 선언
array_val1 = []
array_val2 = list()
array_val1, array_val2

([], [])

In [4]:
# 다양한 데이터 타입의 리스트 요소
array_val3 = [1,2,3,4,5,"문자열", ["리스트형", "리스트형1"], {"key":"value"}, 23.451]
array_val3

[1, 2, 3, 4, 5, '문자열', ['리스트형', '리스트형1'], {'key': 'value'}, 23.451]

In [5]:
# 리스트를 이용한 for 반복문 사용 
for item in array_val3:
    print(f"데이터 타입 {type(item)} \t|\t 데이터 : {item}")

데이터 타입 <class 'int'> 	|	 데이터 : 1
데이터 타입 <class 'int'> 	|	 데이터 : 2
데이터 타입 <class 'int'> 	|	 데이터 : 3
데이터 타입 <class 'int'> 	|	 데이터 : 4
데이터 타입 <class 'int'> 	|	 데이터 : 5
데이터 타입 <class 'str'> 	|	 데이터 : 문자열
데이터 타입 <class 'list'> 	|	 데이터 : ['리스트형', '리스트형1']
데이터 타입 <class 'dict'> 	|	 데이터 : {'key': 'value'}
데이터 타입 <class 'float'> 	|	 데이터 : 23.451

In [17]:
# 리스트 자료형 내부의 데이터를 조회하는 방법

# index로 호출하기
print(array_val3[5])
print(array_val3[8])
print("="*50)

# index slicing 호출하기
print(array_val3[0:3])
print(array_val3[6:8])
print(array_val3[:8])
print(array_val3[1:8:2])
print(array_val3[::-1])
print("="*50)

문자열
23.451
==================================================
[1, 2, 3]
[['리스트형', '리스트형1'], {'key': 'value'}]
[1, 2, 3, 4, 5, '문자열', ['리스트형', '리스트형1'], {'key': 'value'}]
[2, 4, '문자열', {'key': 'value'}]
[23.451, {'key': 'value'}, ['리스트형', '리스트형1'], '문자열', 5, 4, 3, 2, 1]
==================================================

In [20]:
students = ["A", "B", "C", "D", "E", "F", "G"]

for idx, st in enumerate(students):
    if idx % 2 == 0:
        print(f"짝수 인덱스 : {st}")
    else : 
        print(f"홀수 인덱스 : {st}")

짝수 인덱스 : A
홀수 인덱스 : B
짝수 인덱스 : C
홀수 인덱스 : D
짝수 인덱스 : E
홀수 인덱스 : F
짝수 인덱스 : G

In [23]:
# 리스트의 길이 확인하기 = 리스트 컨테이너 안에 들어있는 요소의 개수 확인하기
list_value = [1,2,"A",4,5,6]
print(f"리스트의 길이 : {len(list_value)}")

for idx in range(len(list_value)):
    print(idx, list_value[idx])

리스트의 길이 : 6
0 1
1 2
2 A
3 4
4 5
5 6

```
>>> a = [1.2, 2.5, 3.7, 4.6]
>>> a = list(map(int, a))
>>> a
[1, 2, 3, 4]
```

In [24]:
data = [
    [1, 18], [2, 20], [3, 40]
]

data

[[1, 18], [2, 20], [3, 40]]

In [31]:
min(list(map(lambda x : x[1], data))), max(list(map(lambda x : x[1], data)))

(18, 40)

## enumerate() 함수

In [38]:
for idx, st in enumerate("abcdefg"):
    print(f"인덱스 : {idx} \t|\t 요소 : {st}")

인덱스 : 0 	|	 요소 : a
인덱스 : 1 	|	 요소 : b
인덱스 : 2 	|	 요소 : c
인덱스 : 3 	|	 요소 : d
인덱스 : 4 	|	 요소 : e
인덱스 : 5 	|	 요소 : f
인덱스 : 6 	|	 요소 : g

In [39]:
"   ".count(" ")

3

## insert() 함수

In [40]:
data = [1,2,3,4,5,6,7,8,9]
data.insert(4, "데이터 삽입")

In [41]:
data

[1, 2, 3, 4, '데이터 삽입', 5, 6, 7, 8, 9]

In [42]:
numbers = [1,2,3,4,6,7,8,9,10]
target = 5
flag = True

for idx, i in enumerate(numbers):
    if flag and target < i:
        numbers.insert(idx, target)
        flag = False
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## pop() 함수
- 리스트 자료형의 마지막 인덱스 요소값을 반환하면서 삭제한다.

In [46]:
data = [1,2,3,4,5,6,7,8]
data.pop()

8

In [47]:
data

[1, 2, 3, 4, 5, 6, 7]

In [50]:
scores = [9.5, 8.9, 9.2, 8.8, 9.0]

In [51]:
scores.index(max(scores)), scores.index(min(scores))

(0, 3)

In [52]:
del scores[scores.index(max(scores))]

In [53]:
scores

[8.9, 9.2, 8.8, 9.0]

In [54]:
del scores[scores.index(min(scores))]
scores

[8.9, 9.2, 9.0]

In [57]:
scores = [9.5, 8.9, 9.2, 8.8, 9.0]
scores.pop(2)

9.2

In [58]:
test = {"key1":"value1", "key2":"value2"}

In [60]:
test.pop("key1")

'value1'

In [62]:
data = ["A", "B", "C", "D"]
data.remove("B")
data

['A', 'C', 'D']

In [64]:
data = ["A", "B", "C", "D"]
del data[1]
data

['A', 'C', 'D']

## extend() 함수

In [74]:
list1 = [1,2,3,4]
list2 = ["5", "6", "7", "8"]

In [75]:
list3 = list1 + list2
list3

[1, 2, 3, 4, '5', '6', '7', '8']

In [76]:
list1.extend(list2)
list1

[1, 2, 3, 4, '5', '6', '7', '8']

## append() 함수

In [68]:
list1 = [1,2,3,4]
list2 = ["5", "6", "7", "8"]
list1.append(list2)
list1

[1, 2, 3, 4, ['5', '6', '7', '8']]

## sort() 함수

In [80]:
data = [14,5,6,23,1,2,4]
data.sort(reverse=True)
data

[23, 14, 6, 5, 4, 2, 1]

In [81]:
data = [14,5,6,23,1,2,4]
data.sort(reverse=False)
data

[1, 2, 4, 5, 6, 14, 23]

## set() 함수

In [85]:
data = [1,1,1,2,3,4,4,4,4,5,6,7]
set(data), list(set(data))

({1, 2, 3, 4, 5, 6, 7}, [1, 2, 3, 4, 5, 6, 7])

## reverse() 함수

In [88]:
data = [1,2,3,4,5,6,7]
data.reverse()
data

[7, 6, 5, 4, 3, 2, 1]

## slice() 함수

In [89]:
data = [1,2,3,4,5,6,7]
data[slice(1,4)]

[2, 3, 4]

In [90]:
data[slice(1,len(data))]

[2, 3, 4, 5, 6, 7]

In [92]:
data[slice(-2,-1)]

[6]

## list 자료형 곱하기

In [94]:
[1,2,3,4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [96]:
list(map(lambda x : x * 2, [1,2,3,4]))

[2, 4, 6, 8]

## index() 함수

In [98]:
["1번", "2번", "3번"].index("2번")

1

In [141]:
# 1부터 10까지의 정수가 중복되지 않고 섞여 있을 때 행운의 숫자 7의 위치를 찾자!

import random

numbers = random.sample(range(1, 11), 10)
print(f"숫자 7의 인덱스 값 : {numbers.index(7)}")
print(f"원본 리스트 값 : {numbers}")

숫자 7의 인덱스 값 : 5
원본 리스트 값 : [8, 5, 6, 10, 3, 7, 4, 2, 9, 1]

## count() 함수

In [146]:
[1,2,3,3,3,1,1,1,1,1,1].count(1)

7

## collections.Counter 모듈로 리스트 요소 카운트하기

In [169]:
import collections
dict(collections.Counter(["A", "A", "A", "A", "A", "A", "A", "B", "B", "B" ]))

{'A': 7, 'B': 3}

---

## 튜플(Tuple) 이란?
- 리스트(list)와 성격이 비슷하지만 한 번 선언한 요소는 변경할 수 없다.
- "( )" 또는 tuple() 을 이용하여 튜플을 선언할 수 있다.
- 데이터 요소끼리는 ","으로 구분한다.

In [173]:
tuple_value = (1,2,3,4,5,6)
print(tuple_value)

print(type(tuple_value))

(1, 2, 3, 4, 5, 6)

TypeError: 'str' object is not callable