## 문제 1번
- 1부터 사용자가 입력한 숫자까지의 약수와 소인수를 리스트에 각각 저장하고, 이것을 출력하는 프로그램을 만들어보자.

In [5]:
num = int(input("1보다 큰 정수 입력 : "))

list_a = []    # 약수 리스트
list_b = []    # 소수 리스트

for i in range(1, num+1):
    if num % i == 0:
        print(f"{num}의 약수 : {i}")
        list_a.append(i)
        
        flag = True
        if i != 1:
            for i2 in range(2, i):
                if i % i2 == 0:
                    flag = False
                    break

            if flag:
                print(f"{num}의 소인수 : {i}")
                list_b.append(i)

1보다 큰 정수 입력 : 100
100의 약수 : 1
100의 약수 : 2
100의 소인수 : 2
100의 약수 : 4
100의 약수 : 5
100의 소인수 : 5
100의 약수 : 10
100의 약수 : 20
100의 약수 : 25
100의 약수 : 50
100의 약수 : 100

## 문제 2번 
- 1부터 100사이의 난수 10개를 생성한 후 짝수와 홀수를 구분해서 리스트에 저장하고 각각의 개수를 출력하는 프로그램을 만들어보자.

In [7]:
import random

numbers = random.sample(range(1,101), 10)

odd = []   # 짝수
ever = []  # 홀수
for num in numbers:
    if num % 2 == 0:
        odd.append(num)
    else:
        ever.append(num)
        
print(f"짝수 : {len(odd)}개 \t|\t {odd}")
print(f"홀수 : {len(ever)}개 \t|\t {ever}")

짝수 : 5개 	|	 [98, 48, 84, 42, 44]
홀수 : 5개 	|	 [57, 95, 79, 5, 97]

## 문제 3번
- 다음은 공원 입장료를 나타낸 표이다. 1일 총 입장객이 100명이라고 할 때, 1일 전체 입장 요금을 구하는 프로그램을 만들어보자.
- 단, 입장 고객의 나이는 난수를 이용한다.
- 영유아 (0~7세) : 무료
- 어린이 (8~13세) : 200원
- 청소년 (14~19세) : 300원
- 성인 (20~64세) : 500원
- 어르신 (65세 이상) : 무료

In [24]:
import random

people = []
money = []
for i in range(100):
    p = random.randint(0, 100)
    people.append(p)
    pay = 0
    if (p >= 0) and (p < 8):
        pay = 0
    elif (p >= 8) and (p < 14):
        pay = 200
    elif ( p>= 14) and (p < 20):
        pay = 300
    elif (p >= 20) and (p < 65):
        pay = 500
    elif (p >= 65):
        pay = 0
        
    money.append(pay)
     
print(f"1일 방문자 수 : {len(people)}명")
print(f"1일 전체 입장 요금 : {format(sum(money), ',')}원")

Counter({43: 4, 23: 3, 40: 3, 13: 3, 79: 3, 24: 3, 0: 3, 91: 3, 80: 2, 63: 2, 94: 2, 67: 2, 36: 2, 50: 2, 74: 2, 7: 2, 77: 2, 75: 2, 97: 2, 22: 2, 78: 2, 53: 2, 20: 2, 1: 2, 38: 1, 72: 1, 33: 1, 48: 1, 14: 1, 28: 1, 16: 1, 71: 1, 35: 1, 70: 1, 10: 1, 11: 1, 81: 1, 32: 1, 66: 1, 98: 1, 58: 1, 54: 1, 21: 1, 9: 1, 15: 1, 82: 1, 52: 1, 88: 1, 39: 1, 64: 1, 46: 1, 29: 1, 3: 1, 5: 1, 93: 1, 26: 1, 34: 1, 2: 1, 85: 1, 37: 1, 31: 1, 60: 1, 18: 1, 25: 1, 87: 1, 30: 1, 65: 1})
1일 방문자 수 : 100명
1일 전체 입장 요금 : 25,400원

## 문제 4번
- 친구 이름 다섯 명을 리스트에 저장하고 오름차순과 내림차순으로 정렬해보자.

In [28]:
friends = ["최희연", "펄", "차오", "별이", "달이"]

friends.sort()
print(f"오름차순 {friends}")
print(f"내림차순 {friends[::-1]}")

오름차순 ['달이', '별이', '차오', '최희연', '펄']
내림차순 ['펄', '최희연', '차오', '별이', '달이']

In [35]:
friends = ["최희연", "펄", "차오", "별이", "달이"]

friends.sort(reverse=True)
print(f"내림차순 {friends}")

내림차순 ['펄', '최희연', '차오', '별이', '달이']

## 문제 5번
- 다음 리스트에서 중복 아이템(숫자)을 제거하는 프로그램을 만들어보자.

In [37]:
numbers = [2, 22, 7, 8, 9, 2, 7, 3, 5, 2, 7, 1, 3]
print(f"numbers : {numbers}")

print(f"numbers sets : {list(set(numbers))}")

numbers : [2, 22, 7, 8, 9, 2, 7, 3, 5, 2, 7, 1, 3]
numbers sets : [1, 2, 3, 5, 7, 8, 9, 22]

## 문제 6번
- 4개의 숫자 중 서로 다른 숫자 2개를 선택해서 만들 수 있는 경우의 수를 출력하는 프로그램을 만들어보자.

In [44]:
import itertools


numbers = [1,2,3,4]

result = 1
for n in range(len(numbers), len(numbers)-2, -1):
    result *= n
    
permu = itertools.permutations(numbers, 2)
print(list(permu))
print(f"4개의 숫자중 서로 다른 숫자 2개를 선택하는 경우의 수 : {result}가지")

[(1, 2), (1, 3), (1, 4), (2, 1), (2, 3), (2, 4), (3, 1), (3, 2), (3, 4), (4, 1), (4, 2), (4, 3)]
4개의 숫자중 서로 다른 숫자 2개를 선택하는 경우의 수 : 12가지

## 문제 7번
- 4개의 숫자 중 서로 다른 숫자 3개를 선택해서 만들 수 있는 경우의 수를 출력하는 프로그램을 만들어보자.

In [45]:
import itertools

numbers = [1,2,3,4]
permu = list(itertools.permutations(numbers, 3))
print(permu)
print(f"4개의 숫자중 서로 다른 숫자 3개를 선택하는 경우의 수 : {len(permu)}가지")

[(1, 2, 3), (1, 2, 4), (1, 3, 2), (1, 3, 4), (1, 4, 2), (1, 4, 3), (2, 1, 3), (2, 1, 4), (2, 3, 1), (2, 3, 4), (2, 4, 1), (2, 4, 3), (3, 1, 2), (3, 1, 4), (3, 2, 1), (3, 2, 4), (3, 4, 1), (3, 4, 2), (4, 1, 2), (4, 1, 3), (4, 2, 1), (4, 2, 3), (4, 3, 1), (4, 3, 2)]
4개의 숫자중 서로 다른 숫자 3개를 선택하는 경우의 수 : 24가지

## 문제 8번
- 자주 접속하는 웹사이트 비번을 튜플에 저장해보자.

In [47]:
passwds = ('password01', 'password02', 'password03', 'password04')
print(passwds)

passwds2 = 'password01', 'password02', 'password03', 'password04'
print(passwds2)

('password01', 'password02', 'password03', 'password04')
('password01', 'password02', 'password03', 'password04')

## 문제 9번
- 대학생 길동이의 1, 2, 3학년의 성적은 다음과 같다. 졸업할 때 4.0 이상의 학점을 받기 위해 길동이가 받아야 하는 4학년 1, 2학기의 최소 학점을 구해보자.

In [58]:
import numpy as np


scores_2_lv = ((3.7, 4.2), (2.9, 4.3), (4.1, 4.2))
scores_1_lv = list(np.array(scores).flatten()) 


print(f"3학년 총 학점 : {round(sum(scores_1_lv) , 2)}")
print(f"3학년 평균 학점 : {round(sum(scores_1_lv)/6 , 2)}")

target_scores = 4.0 * 8
need_scores = round(target_scores - round(sum(scores_1_lv) , 2), 2)
print(f"4학년 1학기, 2학기의 최소 학점은 {round(need_scores/2,2)}")

3학년 총 학점 : 23.4
3학년 평균 학점 : 3.9
4학년 1학기, 2학기의 최소 학점은 4.3

## 문제 10번
- 다음 2개의 튜플에 대해서 합집합과 차집합을 출력해보자.

In [61]:
tuple_1 = (1, 3, 2, 6, 12, 5, 7, 8)
tuple_2 = (0, 5, 2, 9, 8, 6, 17, 3)

tuple_1_set = set(tuple_1)
tuple_2_set = set(tuple_2)

print( f"1번과 2번의 교집합 : {tuple_1_set & tuple_2_set}")
print( f"1번과 2번의 합집합 : {tuple_1_set | tuple_2_set}")
print( f"1번과 2번의 차집합 : {tuple_1_set - tuple_2_set}")

1번과 2번의 교집합 : {2, 3, 5, 6, 8}
1번과 2번의 합집합 : {0, 1, 2, 3, 5, 6, 7, 8, 9, 12, 17}
1번과 2번의 차집합 : {1, 12, 7}

## 문제 11번
- 다음 튜플을 요구 사항에 맞춰 아이템을 슬라이스 하자.

In [91]:
numbers = 8.7, 9.0, 9.1, 9.2, 9.3
numbers[::3]

(8.7, 9.2)

## 문제 12번
- 다음 튜플의 과일 개수에 대해서 오름차순 및 내림차순으로 정렬해보자.

In [96]:
def asc_desc(order):
    fruits = ({"수박":8}, {"포도":13}, {"참외":12}, {"사과":17}, {"자두":19}, {"자몽":15})
    fruits = list(fruits)

    numbers = [ list(f.values())[0] for f in fruits ]
    if order == "오름차순":
        numbers.sort()
    elif order == "내림차순":
        numbers.sort(reverse=True)
        
    datas = []
    for num in numbers:
        for item in fruits:
            if num == list(item.values())[0]:
                datas.append(item)
    return datas

print("오름차순 : ", asc_desc("오름차순"))
print("내림차순 : ", asc_desc("내림차순"))

오름차순 :  [{'수박': 8}, {'참외': 12}, {'포도': 13}, {'자몽': 15}, {'사과': 17}, {'자두': 19}]
내림차순 :  [{'자두': 19}, {'사과': 17}, {'자몽': 15}, {'포도': 13}, {'참외': 12}, {'수박': 8}]

## 문제 13번
- 학급별 학생 수를 나타낸 튜플을 이용해서, 요구 사항에 맞는 데이터를 출력하는 프로그램을 만들어보자.

In [109]:
students_cnt = (
    {"cls01":18},
    {"cls02":21},
    {"cls03":20},
    {"cls04":19},
    {"cls05":22},
    {"cls06":20},
    {"cls07":23},
    {"cls08":17},
)
students_cnt = list(students_cnt)
cnts = [ list(item.values())[0] for item in students_cnt ]


print(f"전체 학생 수 : {sum(cnts)}명")
print(f"학생 평균 : {int(sum(cnts)/len(students_cnt))}명")

for item in students_cnt:
    cnt = list(item.values())[0]
    if cnt == max(cnts):
        print("학생수가 가장 많은 학급 : ", item)
    elif cnt == min(cnts):
        print("학생수가 가장 적은 학급 : ", item)

for item in students_cnt:
    cnt = list(item.values())[0]
    avg_cnt = int(sum(cnts)/len(students_cnt))
    v = cnt - avg_cnt
    key = list(item.keys())[0]
    item[key] = v
    print(item)

전체 학생 수 : 160명
학생 평균 : 20명
학생수가 가장 많은 학급 :  {'cls07': 23}
학생수가 가장 적은 학급 :  {'cls08': 17}
{'cls01': -2}
{'cls02': 1}
{'cls03': 0}
{'cls04': -1}
{'cls05': 2}
{'cls06': 0}
{'cls07': 3}
{'cls08': -3}

## 문제 14번
- 과목별 점수를 딕셔너리에 저장하고 출력하는 프로그램을 만들어보자

In [111]:
subject = ["국어", "영어", "수학", "과학", "국사"]
scores = {}

for item in subject:
    score = int(input(f"{item} 점수 입력 : "))
    scores[item] = score
    
scores

국어 점수 입력 : 100
영어 점수 입력 : 10
수학 점수 입력 : 10
과학 점수 입력 : 10
국사 점수 입력 : 10

{'국어': 100, '영어': 10, '수학': 10, '과학': 10, '국사': 10}

## 문제 15번
- 삼각형부터 십각형까지의 내각의 합과 내각을 딕셔너리에 저장하는 프로그램을 만들어보자.
- n각형의 내각의 합 : 180 x (n-2)

In [114]:
data = {}

for n in range(3, 11):
    hap = 180 * (n - 2)
    ang = int(hap / n)
    data[n] = [hap, ang]
    
data

{3: [180, 60],
 4: [360, 90],
 5: [540, 108],
 6: [720, 120],
 7: [900, 128],
 8: [1080, 135],
 9: [1260, 140],
 10: [1440, 144]}

## 문제 16번
- 1부터 10까지의 각각의 정수에 대한 약수를 저장하는 딕셔너리를 만들고 출력하는 프로그램을 만들어보자.

In [118]:
data = {}

for num in range(1, 11):
    for n in range(1, num+1):
        if num % n == 0:
            if data.get(num):
                data[num].append(n)
            else:
                data[num] = [n]

data

{1: [1],
 2: [1, 2],
 3: [1, 3],
 4: [1, 2, 4],
 5: [1, 5],
 6: [1, 2, 3, 6],
 7: [1, 7],
 8: [1, 2, 4, 8],
 9: [1, 3, 9],
 10: [1, 2, 5, 10]}

## 문제 17번
- 다음 문구를 공백으로 구분하여 리스트에 저장한 후, 인덱스와 단어를 이용해서 딕셔너리에 저장해보자.

In [122]:
text = "파이썬은 1991년 프로그래머인 귀도 반 로섬이 발표한 고급 프로그래밍 언어이다."
text_sp = text.split(" ")

data = {}

for text in text_sp:
    data[text_sp.index(text)] = text

data

{0: '파이썬은',
 1: '1991년',
 2: '프로그래머인',
 3: '귀도',
 4: '반',
 5: '로섬이',
 6: '발표한',
 7: '고급',
 8: '프로그래밍',
 9: '언어이다.'}

## 문제 18번
- 다음 문장에서 비속어를 찾고 비속어를 표준어로 변경하는 프로그램을 만들어보자.

In [134]:
texts = "강도는 서로 쪼개다, 짭새를 보고 빠르게 따돌리며 먹튀했다."

words = {
    "꺼지다" : "가다",
    "쩔다" : "엄청나다",
    "짭새" : "경찰관",
    "꼽사리" : "중간에 낀 사람",
    "먹튀" : "먹고 도망",
    "지린다" : "겁을 먹다",
    "쪼개다" : "웃다",
    "뒷담 까다" : "험담하다"
}

data = []
for text in texts.split(" "):
    for word in words.keys():
        if word in text:
            text = text.replace(word, words[word])
    data.append(text)

print(texts.split(" "))
print(data)

['강도는', '서로', '쪼개다,', '짭새를', '보고', '빠르게', '따돌리며', '먹튀했다.']
['강도는', '서로', '웃다,', '경찰관를', '보고', '빠르게', '따돌리며', '먹고 도망했다.']

In [130]:
1 in {1:"a"}

True